<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Employee Management System</title>
   
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="container_wrapper">
        <div class="spacer"></div>
        <div id="container">
            <div id="top">

                @*<asp:Label ID="lblHeaderMessage" runat="server"></asp:Label>,*@
                @Html.Label("Welcome " + @Session["Username"] + ",")
                @Html.ActionLink("Logout", "Logout", "Login")

                @*<asp:LinkButton ID="lnkLogout" runat="server" OnClick="lnkLogout_Click">Logout</asp:LinkButton>*@
            </div>
            <div id="header">
                <div id="inner_header">
                    <div id="site_title">Employee Management System</div>
                    <div id="site_slogan">Version 1.0</div>
                </div>
            </div>

            <div id="left_column">
                <div class="text_area" align="justify">
                    @RenderBody()
                </div>
            </div>

            <div id="right_column">

                @Html.Partial("_RightPanelPartialPage")
            </div>
            <div id="footer">
                Designed and Developed by <a href="http://www.xyz.com" target="_blank">Rajnish Jha</a>
            </div>
        </div>
        <div class="spacer"></div>
    </div>  
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>